:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#555;
    --letter-color:#333;
    --primary-color: #EE4D2D;
    --border-color: #dbdbdb;
    --navbar-height:34px;
    --header-height:120px;
    --headerb-height:calc(var(--header-height) - var(--navbar-height));
    --base-color:#9d9d9d;
    --background-page:#f5f5f5;
    --header-filter-height:46px;
}

@keyframes show-clear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes show-clear-growp{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid-width--full{
    width:100%;
}

.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left:-5px;
    margin-right:-5px;
}

.grid__column-2{

    width:calc(100% / 6);
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10{
    width: 83.333333%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-1-5{
    flex-basis: 20%;
    max-width:20%;
    padding-left: 5px;
    padding-right: 5px;
}

.center-align{
    width:100%;
    align-items: center;
}

.clear::after{
    content:"";
    display:block;
    clear: both;
}

.modal{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,0.3);
    display:flex;
    animation:show-clear linear 0.1s;
}

.modal--regist,
.modal--login{
    display:none;
}

.auth-form{
    border-radius: 5px;
    margin: auto;
    width:500px;
    background-color: var(--white-color);
    animation: show-clear-growp linear 0.3s;
}

.btn{
    padding:9px 12px;
    font-size:1.5rem;
    border:none;
    border-radius:2px;
    text-decoration: none;
    color:var(--text-color);
    line-height: 1.6rem;
    outline:none;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-primary{
    background-color: var(--primary-color);
    color:var(--white-color);
}

.btn:hover{
    cursor:pointer;
}

.btn--disable,
.btn--disable i,
.btn--disable a{
    cursor: default !important;;
    background-color:  #f9f9f9!important;
    color: #ccc !important;
}


.btn + .btn{
    margin-left:16px;
}

.show{
    display:block;
}

.pad-top-10{
    padding-top:10px;
}

.pagination{
    display:flex;
    justify-content: center;
    margin:40px 0;
}

.pagination__btn{
    padding:0 20px;
}

.pagination__btn:first-child{
    padding-left:0;
}

.pagination__btn:last-child{
    padding-right:0;
}



.pagination__btn--active a{
    background-color:var(--primary-color);
    color:var(--white-color);
}

.pagination__btn--disible{
    cursor:default;
}

.pagination__btn-link{
    text-align:center;
    display:block;
    line-height:30px;
    color:var(--base-color);
    font-size:2.5rem;
    font-weight: 300;
    min-width:40px;
    height:30px;
    border-radius:2px;
    text-decoration: none;
}